@import url('https://fonts.googleapis.com/css?family=Aref+Ruqaa');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

html {width:100%;}
header, footer, .header, .footer {margin-top:1em;font-family:Aref Ruqaa;font-size:small;text-align:right;margin-right:1em;}

#biblio-outer {max-width:60em;border:4px double burlywood;background-color:linen;padding:0.5em;margin:0.5em auto;}
#biblio-outer a {color:peru;text-decoration:none;}
#biblio-outer input {border:1px solid burlywood;width:50%;line-height:2em;font-size:large;padding-left:0.5em;margin-bottom:0.2em;}
#biblio-outer #biblio-dir-search-c {margin-left:0.5em;}
#biblio-outer #biblio-restart {margin:1em;float:right;font-size:x-small;cursor:pointer;border:1px solid burlywood;padding:0.5em 1em;}
#biblio-outer .biblio-foot-a {float:left;margin:2em;font-size:small;padding:0.5em;border:1px solid burlywood;}

#biblio-inner {padding:1em;border:1px solid burlywood;page-break-inside:auto;font-family:Merriweather,STXinwei,STLiti,STKaiti,"楷体",FangSong,PMingLiU;font-size:medium;min-height:45em;}
#biblio-inner table,
#biblio-inner th,
#biblio-inner td {border:1px solid burlywood;border-collapse:collapse;padding:0.2em 1em;font-size:small;}
#biblio-inner th {text-align:center;}
#biblio-inner td {text-align:left;}
#biblio-inner hr {border:1px solid burlywood;}

#biblio-inner h1 {margin-bottom:0;}
#biblio-inner h2 {width:65%;margin:0 0 1.2em 0;padding:1em 0 0.5em 1em;border-bottom:2px solid gray;}
#biblio-inner h2#personal-information {width:55%;margin-left:120px;}
#biblio-inner img.co-logo {height:17px;margin-bottom:-3px;margin-left:1em;}

#biblio-inner .additional {width:25%;float:right;font-size:small;margin:1em;padding:0.5em 1em;background-color:lemonchiffon;border:1px dotted gray;}
#biblio-inner .additional dd {font-style:italic;}
#biblio-inner ul.toc-list, ul.toc-list ul {padding-left:1.5em;}
#biblio-inner ul.toc-list a {color:darkslategrey;}
#biblio-inner div.paragraph {page-break-inside:avoid;}

#biblio-inner div.expr-block {border:1px solid burlywood;margin-top:0.5em;margin-bottom:0.5em;padding:0.5em;page-break-inside:avoid;}
#biblio-inner div.expr-block h3 a {color:inherit;}
#biblio-inner div.expr-block h4 {margin-top:0.6em;}
#biblio-inner div.expr-block p {padding-left:1em;margin-bottom:0.3em;}
#biblio-inner div.expr-block .exp-inst {border-left:1em solid burlywood;border-bottom:1px solid burlywood;padding:0.1em 1em 1em;margin:2em 1em 1em 1em;page-break-inside:avoid;}

.switcher-c {margin:0 0.5em;}
.switcher-c td {padding:0.5em;width:25em;color:peru;}
.switcher-c .switcher-span {cursor:pointer;margin-left:0.3em;}

#biblio-inner blockquote {color:DarkKhaki;}
#biblio-inner sup,
#biblio-inner pre sub,
#biblio-inner pre sup {color:DarkKhaki;}
#biblio-inner sub,
#biblio-inner sup {font-weight:normal;}
#biblio-inner code,
#biblio-inner pre {font-family:inherit;color:DarkSlateBlue;white-space:pre-line;}
#biblio-inner pre {margin-left:1em;max-width:40em;}

/* scrool bar */
::-webkit-scrollbar {width:25px;border:1px solid linen;}
::-webkit-scrollbar-track {background-color:linen;box-shadow:inset 0 0 5px grey;border-radius:10px;}
::-webkit-scrollbar-thumb {background:burlywood;border-radius:10px;}
/* track */
.clustrmaps-map-control {float:left;margin-top:0.5em!important;}/*width:100px!important;height:49px!important;*/

/* menu */
.biblio-menu {margin:1.7em 0.5em;position:fixed;_position:absolute;top:0;_top:"expression(eval(document.documentElement.scrollTop))";z-index:10;}
@import "compass/css3";
.biblio-menu-b {cursor:pointer;margin:0.7em 0 0;padding-left:0.3em;position:relative;width:24px;height:24px;float:right;}
.biblio-menu-b-global {backface-visibility:hidden;position:absolute;left:0;border-top:4px solid burlywood;width:100%;transition:0.55s;}
.biblio-menu-b-1 {top:0;}
.biblio-menu-b-2 {top:10px;}
.biblio-menu-b-3 {top:20px;}
.biblio-menu-b-1-click {backface-visibility:hidden;top:10px;transform:rotate(45deg);transition:0.55s 0.5s;}
.biblio-menu-b-2-click {opacity:0;}
.biblio-menu-b-3-click {backface-visibility:hidden;top:10px;transform:rotate(-405deg);transition:0.55s 0.5s;}